<app-header [opcion]="'desafios'"></app-header>
<div class="container">
    <h3> <strong>Desafios</strong></h3>
    <div class="contenedor" style="margin-top: 40px; margin-left: 30px;">
        <div class="item row">
            <div class="img col-1">
                <img src="assets/img/numbers.png" width="50px" alt="numeros ">
            </div>
            <div class="detalle col-5">
                <strong>Contesta correctamente 3 preguntas  de manera correcta</strong>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemax="100"></div>
                </div>
                <p style="text-align: end;">1/3</p>
            </div>
        </div>

        <div class="item row">
            <div class="img col-1">
                <img src="assets/img/lesson.png" width="50px" alt="numeros ">
            </div>
            <div class="detalle col-5">
                <strong>Completa una leccion por primera vez</strong>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemax="100"></div>
                </div>
                <p style="text-align: end;">0/3</p>
            </div>
        </div>
    </div>
    <strong>sigue aprendiendo para tener mas desafios...</strong>
</div>