<div class="container">
    <div class="progress" style="height: 30px; border-radius: 20px;">
        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemax="100"></div>
    </div>
    <app-pmodel1></app-pmodel1>
</div>
<footer *ngIf="false" style="background-color: rgb(189, 248, 157); height: 80px; border: 1px solid rgb(121, 121, 121);">

</footer>
<footer style=" height: 80px; border: 1px solid rgb(121, 121, 121);">
    <div style="display: flex; justify-content: space-evenly; padding-top: 20px;">
        <button type="button" class="btn btn-outline-secondary">Saltar</button>

        <button type="button" class="btn btn-outline-secondary">Verificar</button>

    </div>
</footer>