<div class="container" style="height: 526px;">
    <div class="row justify-content-center" style="margin: auto; height: 90%;">
        <div class="item col-6 align-self-center">
            <h4>
                <strong>
                    Escribe lo siguiente en íngles
                </strong>
            </h4>

            <p>Mi nombre es Gonzalo Cabrera</p>

            <div class="mb-3">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
    </div>

</div>