<app-header [opcion]="'premios'"></app-header>

<div class="container">
    <div class="text-center item">
        <div class="contenido m-auto" style="width: 50%;">
            <h2 class="title">Premio por experiencia</h2>
            <p>
                Acumula puntos de experiencia con desafios para desbloquear el premio mayor
            </p>
            <div>
                <img src="assets/img/cofre.png" width="100px" alt="principiante">
            </div>
        </div>

        <div class="progress m-auto" style="width: 60%;">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemax="100"></div>

        </div>
        <br>
        <h4>42/100</h4>
    </div>
</div>